.app-metronome
  position relative
  width 100%
  // background-color 
  // box-shadow 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
  color #FFF
  padding 2rem 1rem 1rem
  display flex
  align-items center
  flex-flow column
  font-family 'Open Sans'
  height 100%

.metronome
  &-beat
    font-size 4rem
  &-inner
    display flex
    flex-flow: column
    align-items: center
    margin-bottom: 3rem

.btn_color
  color #ffffff
  background-color #3d5afe

.btn-color_g
  background-color #00e676

.btn-color_r
  background-color #ff4081
